asyncio>=3.4.3
attrs>=23.1.0
cattrs>=22.2.0
certifi>=2023.5.7
charset-normalizer>=3.1.0
contourpy>=1.0.7
cycler>=0.11.0
diskcache>=5.6.1
docopt>=0.6.2
eventkit>=1.0.0
fonttools>=4.39.4
ib-insync>=0.9.85
idna>=3.4
joblib>=1.2.0
kiwisolver>=1.4.4
matplotlib>=3.7.1
nest-asyncio>=1.5.6
newtulipy>=0.4.6
numpy>=1.24.3
packaging>=23.1
pandas>=2.0.1
Pillow>=9.5.0
platformdirs>=3.5.1
pyparsing>=3.0.9
python-dateutil>=2.8.2
pytz>=2023.3
requests>=2.30.0
requests-cache>=1.0.1
scipy>=1.10.1
six>=1.16.0
threadpoolctl>=3.1.0
tzdata>=2023.3
url-normalize>=1.4.3
urllib3>=2.0.2
